[submodule "libs/bootstrap"]
	path = libs/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "libs/bootstrap-slider"]
	path = libs/bootstrap-slider
	url = https://github.com/seiyria/bootstrap-slider
[submodule "libs/jquery-sortable"]
	path = libs/jquery-sortable
	url = https://github.com/johnny/jquery-sortable
[submodule "libs/jquery-treeview"]
	path = libs/jquery-treeview
	url = https://github.com/jzaefferer/jquery-treeview.git
[submodule "libs/tablesorter"]
	path = libs/tablesorter
	url = https://github.com/Mottie/tablesorter
[submodule "libs/django-activelink"]
	path = libs/django-activelink
	url = https://github.com/mauricioabreu/django-activelink
	branch = add-django-19-support
