Django>=1.11
psycopg2
pillow
beautifulsoup4
python-dateutil
python-graph-core
python-magic
python-memcached
jsonfield
logutils
django-compressor
django-bootstrap-form
django-sekizai
django-mptt
django-medusa
django-js-reverse
django-colorful
twython
perceval>=0.9
