{% extends "hmeter_frontend/base.html" %}
{% load staticfiles %}

{% block title %}Open Source Prospector: About{% endblock %}

{% block css %}
  {{ block.super }}

  <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />
{% endblock %}

{% block content %}
  <section>
    <h1>About</h1>
    <p>
      Project Open Source Prospector is created by the Red Hat Legal Team.
    </p>
    <p>
      Open Source Prospector is a tool that aggregates data on open source
      projects. It is designed to provide decision makers with the flexibility
      to do quick and detailed analyses that are objectively based and reliable.
    </p>
    <p>
      Project owner: Harish Pillay
      &lt;{{ "hpillay@redhat.com"|urlize }}&gt;<br />

      Project developer: Chow Loong Jin
      &lt;{{ "lchow@redhat.com"|urlize }}&gt;
    </p>
  </section>

  <section>
    <h1>Attributions</h1>

    <p>
      The Open Source Prospector project would not be possible if not for
      numerous other projects. Listed below are some notable dependencies which
      are exceptionally important to the Open Source Prospector.
    </p>

    <dl>
      <dt><a href="http://www.python.org">Python</a></dt>
      <dd>
        <p>
          The programming language in which the Open Source Prospector project
          is written.
        </p>
      </dd>
      <dt><a href="http://www.djangoproject.com">Django</a></dt>
      <dd>
        <p>
          A Python-based web framework loosely based on the MVC pattern. It
          incorporates a URL dispatcher, an object-relational mapping (ORM)
          infrastructure, and a templating system for rendering web pages.
        </p>

        <p>
          The Open Source Prospector project is built around this framework,
          making extensive use of the ORM for storing and querying data about
          tracked projects, as well as for serving web pages to the client's web
          browser.
        </p>

        <p>
          Additionally, all configuration of the Open Source Prospector project is meant
          to be done through the default web admnistrative interface provided
          by Django.
        </p>
      </dd>

      <dt><a href="http://www.postgresql.org/">PostgreSQL</a></dt>
      <dd>
        <p>
          A powerful, open source object-relational database system. It has
          more than 15 years of active development and a proven architecture
          that has earned it a strong reputation for reliability, data
          integrity, and correctness. It runs on all major operating systems,
          including Linux, UNIX (AIX, BSD, HP-UX, SGI IRIX, Mac OS X, Solaris,
          Tru64), and Windows. It is fully ACID compliant, has full support
          for foreign keys, joins, views, triggers, and stored procedures (in
          multiple languages). It includes most SQL:2008 data types, including
          INTEGER, NUMERIC, BOOLEAN, CHAR, VARCHAR, DATE, INTERVAL, and
          TIMESTAMP. It also supports storage of binary large objects,
          including pictures, sounds, or video. It has native programming
          interfaces for C/C++, Java, .Net, Perl, Python, Ruby, Tcl, ODBC,
          among others, and exceptional documentation.
        </p>
      </dd>

      <dt><a href="http://grimoirelab.github.io">Grimoire Lab</a></dt>
      <dd>
        <p>
          GrimoireLab is free, open source software for software development
          analytics. It allows you to retrieve data from many kinds of systems
          with information related to software development, and produce analysis
          and visualizations with it.
        </p>

        <p>
          GrimoireLab supports more than 20 different kinds of data sources,
          from git reposiories or GitHub projects, to issue trackers such as
          Jira or Bugzilla, including messaging systems such as IRC, Slack or
          mailing lists, or other types of systems such as StackOverflow or
          Jenkins.
       </p>

       <p>
         With the tools in the GrimoireLab toolset you can retrieve data,
         store it in databases, analyze it, and produce nice dashboards
         for interactively visualizing the resulting information.
       </p>

       <p>
         Prospector uses Perceval, a package part of Grimoire Lab, to fetch
         data from open source repositories.
       </p>
      </dd>

  </section>
{% endblock %}
