{% extends "hmeter_frontend/base.html" %}
{% load staticfiles %}

{% block title %}Open Source Prospector: About{% endblock %}

{% block css %}
  {{ block.super }}

  <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />
{% endblock %}

{% block content %}
  <section>
    <h1>About</h1>
    <p>
      Project Open Source Prospector is created by the Red Hat Legal Team.
    </p>
    <p>
      Open Source Prospector is a tool that aggregates data on open source
      projects. It is designed to provide decision makers with the flexibility
      to do quick and detailed analyses that are objectively based and reliable.
    </p>
    <p>
      Project owner: Harish Pillay
      &lt;{{ "hpillay@redhat.com"|urlize }}&gt;<br />

      Project developer: Chow Loong Jin
      &lt;{{ "lchow@redhat.com"|urlize }}&gt;
    </p>
  </section>

  <!--
  <section>
    <h1>Help</h1>
    Here are some screencasts done by a contributor, Henry Tang
    &lt;{{ "htang@redhat.com"|urlize}}&gt;.

    <div class="container">
      <figure class="col-sm-6">
        <video controls="controls" width="600" height="352">
          <source src="{% static 'screencasts/login.webm' %}">
        </video>
        <figcaption>Login process</figcaption>
      </figure>

      <figure class="col-sm-6">
        <video controls="controls" width="600" height="352">
          <source src="{% static 'screencasts/process.webm' %}">
        </video>
        <figcaption>Configuring a project</figcaption>
      </figure>
    </div>
  </section>
  -->

  <section>
    <h1>Attributions</h1>

    <p>
      The Open Source Prospector project would not be possible if not for
      numerous other projects. Listed below are some notable dependencies which
      are exceptionally important to the Open Source Prospector.
    </p>

    <dl>
      <dt><a href="http://www.python.org">Python</a></dt>
      <dd>
        <p>
          The programming language in which the Open Source Prospector project
          is written.
        </p>
      </dd>
      <dt><a href="http://www.djangoproject.com">Django</a></dt>
      <dd>
        <p>
          A Python-based web framework loosely based on the MVC pattern. It
          incorporates a URL dispatcher, an object-relational mapping (ORM)
          infrastructure, and a templating system for rendering web pages.
        </p>

        <p>
          The Open Source Prospector project is built around this framework,
          making extensive use of the ORM for storing and querying data about
          tracked projects, as well as for serving web pages to the client's web
          browser.
        </p>

        <p>
          Additionally, all configuration of the Open Source Prospector project is meant
          to be done through the default web admnistrative interface provided
          by Django.
        </p>
      </dd>

      <dt><a href="http://www.postgresql.org/">PostgreSQL</a></dt>
      <dd>
        <p>
          A powerful, open source object-relational database system. It has
          more than 15 years of active development and a proven architecture
          that has earned it a strong reputation for reliability, data
          integrity, and correctness. It runs on all major operating systems,
          including Linux, UNIX (AIX, BSD, HP-UX, SGI IRIX, Mac OS X, Solaris,
          Tru64), and Windows. It is fully ACID compliant, has full support
          for foreign keys, joins, views, triggers, and stored procedures (in
          multiple languages). It includes most SQL:2008 data types, including
          INTEGER, NUMERIC, BOOLEAN, CHAR, VARCHAR, DATE, INTERVAL, and
          TIMESTAMP. It also supports storage of binary large objects,
          including pictures, sounds, or video. It has native programming
          interfaces for C/C++, Java, .Net, Perl, Python, Ruby, Tcl, ODBC,
          among others, and exceptional documentation.
        </p>
      </dd>

      <dt><a href="http://www.jamiq.com">JamiQ</a></dt>
      <dd>
        <p>
          A social media monitoring service. It helps business listen,
          measure, and gain insights from conversations taking place online.
          JamiQ's unique solution provides the widest coverage of the
          Asia-Pacific's diverse and multilingual social media. JamiQ uses
          advanced data mining and natural language processing technology to
          produce real-time buzz trending, sentiment detection, influence
          scoring, and market segmentation, giving you the critical insights
          businesses need for immediate and strategic decision-making.
        </p>

        <p>
          Further explanation of JamiQ's technology can be found in
          <a href="{% static 'jamiq-technology-explained.pdf' %}">
            this document</a>.
        </p>

        <p>
          The Open Source Prospector project utilizes this service for deriving
          statistics on sentiment-analyzed posts online. This data is used as
          Open Source Prospector's primary publicity metric.
        </p>
      </dd>

      <dt>
        <a href="https://github.com/hyperair/django-dag">
          Django DAG CTE
        </a>
      </dt>
      <dd>
        <p>
          A Django app meant to ease the storage and querying of directed
          acyclic graphs in PostgreSQL databases, with optimizations for
          common DAG queries using PostgreSQL's Common Table Expressions. It
          was forked from
          <a href="https://github.com/elpaso/django-dag">Django DAG</a>.
        </p>

        <p>
          The Open Source Prospector project uses this module for the storage and
          querying of commit graphs.
        </p>
      </dd>

      <dt>
        <a href="https://www.samba.org/~jelmer/dulwich/">Dulwich</a>
      </dt>
      <dd>
        <p>
          Dulwich is a pure-Python implementation of the Git file formats and
          protocols. The project is named after the village in which Mr. and
          Mrs. Git live in the Monty Python sketch. Dulwich has been tested on
          CPython 2.X where X >= 4 and on recent versions of pypy.
        </p>

        <p>
          The Open Source Prospector project uses this library for importing
          data from git repositories into its database, which are later
          distilled into useful commit statistics that contibute to the health
          score of a
          project.
        </p>
      </dd>

      <dt>
        <a href="https://fedorahosted.org/python-bugzilla/">
          Python Bugzilla
        </a>
      </dt>
      <dd>
        <p>
          A Python library that provides a nice, python-ish interface to
          Bugzilla over XMLRPC. It was original written specifically for Red
          Hat's Bugzilla instance, but has since sprouted an abstraction layer
          that allows it to be used with almost any Bugzilla instance.
        </p>

        <p>
          The Open Source Prospector project uses this library for importing
          data from Bugzilla bug databases into its database, which are later
          distilled into useful bug statistics that contribute ot the health
          score of a project.
        </p>
      </dd>

      <dt>
        <a href="http://jira-python.readthedocs.org/en/latest/">
          jira-python
        </a>
      </dt>
      <dd>
        <p>
          A Python library designed to ease the use of the JIRA REST API. Some
          basic support for the GreenHopper REST API also exists.
        </p>

        <p>
          The Open Source Prospector project uses this library for importing
          data from the JIRA bug tracker.
        </p>
      </dd>
    </dl>

  </section>
{% endblock %}
