{% extends "hmeter_frontend/base.html" %}

{% block content %}
  <section>
    <h1>Migration Schedule</h1>
    <p>
      We will be migrating to a brand new OpenShift infrastructure based on
      advise from Red Hat IT. We are planning this over the weekend of August
      28th 2015. Prospector would be offline from 1200 UTC August 28th 2015. We
      anticipate the migration to take about 6 hours.
    </p>

    <p>
      If you need to access Prospector during that period, please drop us a note
      using the "Leave feedback" link above.
    </p>
  </section>
{% endblock %}
