{% extends "hmeter_frontend/project/fragments/detail/sections/base.html" %}

{% block before_leaf_metrics %}
  {# Needed to ensure that the GTrends iframe doesn\'t end up inline #}

  <div class="graph-container">
    <div class="graph" id="google_trends_graph"></div>
  </div>

  <script type="text/javascript">
    $.when (window.graphready_deferred,
            $.getJSON ("{% url 'hmeter_frontend:project:gtrendsdata' id=project.id %}"))
        .done (function (_, gtrends_series) {
            gtrends_series = gtrends_series[0];

            var all_series = [];
            $.each (gtrends_series,
                    function ()
                    {
                        all_series.push (
                            new FrequencySeries (this.label + " searches",
                                                 this.series,
                                                 undefined,
                                                 null)
                        );
                    });

            if (all_series.length)
                (new AnnotatedGraph ($("#google_trends_graph"),
                                     all_series)).draw ();
        });
  </script>
{% endblock %}
