{% extends "hmeter_frontend/project/fragments/detail/sections/base.html" %}
{% load humanize %}
{% load url from future %}

{% block before_leaf_metrics %}

  <div class="graph-container">
    <div class="graph" id="irc_logins_per_meeting_graph"></div>
    <div class="graph" id="irc_lines_per_meeting_graph"></div>
  </div>

  <script type="text/javascript">
    (function ()
     {
         $.when (window.graphready_deferred,
                 $.getJSON ("{% url 'hmeter_frontend:project:ircdata' id=project.id %}"))
             .done (function (_, data)
                    {
                        data = data[0];
                        (new AnnotatedGraph (
                            $("#irc_logins_per_meeting_graph"),
                            [new Series ("IRC Participants per Meeting",
                                         data.irc_logins_per_meeting_series,
                                         "#EA2D2D")])).draw ();

                        (new AnnotatedGraph (
                            $("#irc_lines_per_meeting_graph"),
                            [new Series ("IRC Lines per Meeting",
                                         data.irc_lines_per_meeting_series,
                                         "#EA2D2D")])).draw ();
                    });
     }) ();
  </script>
{% endblock %}
